.App{
  text-align: center;
}


.App-header {

  display: block;
  margin: 50px auto;
  padding: 60px 60px;
  border-radius: 5px;
  max-width: 700px;
  min-height: 300px;
  box-shadow: 5px 5px 15px #aaa9a9;
}

.App .degrees {
  text-transform: capitalize;
  font-size: 50px;
  line-height: 0.5;
}

.App .units {
  position: relative;
  font-weight: 600;
  top: -20px;
  margin: 0 5px;
  font-size: 20px;
}

.App .main{
  text-align: left;
}
.App h1{
  font-size: 65px;
}

.App h2{
  font-size: 18px;
  font-style: italic;
}
.App a{
  color: #14A2B8;
}

