.App {
  text-align: left;
}

.App-header {

  display: block;
  margin: 28px auto;
  padding: 50px 30px;
  border-radius: 5px;
  max-width: 700px;
  min-height: 300px;
  box-shadow: 5px 5px 15px #aaa9a9;
}

.App h1, h2{
  text-transform: capitalize;
  opacity: 75%;
  font-size: 45px;
  line-height: 0.5;
}